version: '3.8'

services:
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    restart: unless-stopped
    env_file: .env
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/data
      - ${RCLONE_CACHE_PATH}:/root/.cache/rclone
      - ./entrypoint.sh:/entrypoint.sh
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    networks:
      - aether-net

  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - CUSTOM_USER=${OBSIDIAN_USER}
      - PASSWORD=${OBSIDIAN_PASSWORD}
    volumes:
      - ${OBSIDIAN_CONFIG_PATH}:/config
      - ${OBSIDIAN_VAULT_PATH}:/data
    networks:
      - aether-net
    shm_size: "2gb"
    security_opt:
      - "no-new-privileges:false"
      - "seccomp:unconfined"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.obsidian.rule=Host(`${OBSIDIAN_SUBDOMAIN}.${DOMAIN_NAME}`)"
      - "traefik.http.routers.obsidian.entrypoints=websecure"
      - "traefik.http.routers.obsidian.tls.certresolver=myresolver"
      - "traefik.http.services.obsidian.loadbalancer.server.port=3000"

  git-backup:
    image: alpine/git:latest
    container_name: git_backup
    restart: unless-stopped
    working_dir: /git
    entrypoint: /bin/sh
    command: -c '
        git config --global --add safe.directory /git;
        echo "Starting backup script...";
        exec /usr/local/bin/git-backup.sh;
      '
    environment:
      - GIT_REPO_URL=${GIT_REPO_URL}
      - GIT_USER_EMAIL=${GIT_USER_EMAIL}
      - GIT_USER_NAME=${GIT_USER_NAME}
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/git
      - ./git-backup.sh:/usr/local/bin/git-backup.sh
      - ${HOST_SSH_PATH}:/mnt/ssh_keys:ro

networks:
  aether-net:
    external: true
