services:
  rclone:
    image: charon-rclone:${STACK_NAME:-latest}
    build:
      context: .
      dockerfile: Dockerfile.rclone
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
    depends_on:
      - git-backup
    environment:
      - GDRIVE_VAULT_PATH=${GDRIVE_VAULT_PATH}
      - RCLONE_CONFIG_SECRET_NAME=charon_rclone_config
    secrets:
      - source: charon_rclone_config
        target: charon_rclone_config
    volumes:
      - ${OBSIDIAN_VAULT_PATH}/second-brain:/data
      - ${RCLONE_CACHE_PATH}:/root/.cache/rclone
    entrypoint: /bin/sh
    command: /entrypoint.sh
    networks:
      - aether-net
    labels:
      - "com.docker.compose.project=${STACK_NAME}"

  git-backup:
    image: charon-git:${STACK_NAME:-latest}
    build:
      context: .
      dockerfile: Dockerfile.git
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
    working_dir: /git
    healthcheck:
      test: ["CMD", "test", "-f", ".git_ready"]
      interval: 10s
      timeout: 5s
      retries: 5
    entrypoint: /bin/sh
    command: -c '
        git config --global --add safe.directory /git;
        echo "Starting backup script...";
        /usr/local/bin/git-backup.sh;
      '
    environment:
      - GIT_REPO_URL=${GIT_REPO_URL}
      - GIT_USER_EMAIL=${GIT_USER_EMAIL}
      - GIT_USER_NAME=${GIT_USER_NAME}
      - ENV=${ENV}
    secrets:
      - source: charon_ssh_key
        target: charon_ssh_key
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/git
    labels:
      - "com.docker.compose.project=${STACK_NAME}"

networks:
  aether-net:
    external: true

secrets:
  charon_rclone_config:
    external: true
    name: ${CHARON_RCLONE_CONFIG_NAME}
  charon_ssh_key:
    external: true
    name: ${CHARON_SSH_KEY_NAME}
