version: '3.8'

services:
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    restart: unless-stopped
    env_file: .env
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/data
    command: bisync "gdrive:Second Brain/second brain" /data --verbose --resync --create-empty-src-dirs
    networks:
      - aether-net

  kratos:
    image: ghcr.io/raymundmt/kratos-backend:main
    container_name: kratos
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - VAULT_ROOT_PATH=/data/vault
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/data/vault
    networks:
      - aether-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kratos.rule=Host(`kratos.tienzo.net`)"
      - "traefik.http.routers.kratos.entrypoints=websecure"
      - "traefik.http.routers.kratos.tls.certresolver=myresolver"
      - "traefik.http.services.kratos.loadbalancer.server.port=8000"

  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - CUSTOM_USER=${OBSIDIAN_USER}
      - PASSWORD=${OBSIDIAN_PASSWORD}
    volumes:
      - ${OBSIDIAN_CONFIG_PATH}:/config
      - ${OBSIDIAN_VAULT_PATH}:/data
    networks:
      - aether-net
    shm_size: "2gb"
    security_opt:
      - "no-new-privileges:false"
      - "seccomp:unconfined"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.obsidian.rule=Host(`atlas.tienzo.net`)"
      - "traefik.http.routers.obsidian.entrypoints=websecure"
      - "traefik.http.routers.obsidian.tls.certresolver=myresolver"
      - "traefik.http.services.obsidian.loadbalancer.server.port=3000"

  git-backup:
    image: alpine/git:latest
    container_name: git_backup
    restart: unless-stopped
    working_dir: /data
    entrypoint: /bin/sh
    command: -c '
        git config --global --add safe.directory /data;
        echo "Setting up SSH key from environment variable...";
        mkdir -p /root/.ssh;
        echo "$SSH_PRIVATE_KEY" > /root/.ssh/id_rsa;
        chmod 600 /root/.ssh/id_rsa;
        echo "Starting backup script...";
        exec /usr/local/bin/git-backup.sh;
      '
    environment:
      - GIT_REPO_URL=${GIT_REPO_URL}
      - GIT_USER_EMAIL=${GIT_USER_EMAIL}
      - GIT_USER_NAME=${GIT_USER_NAME}
      - SSH_PRIVATE_KEY=${SSH_PRIVATE_KEY}
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/data
      - ./git-backup.sh:/usr/local/bin/git-backup.sh

networks:
  aether-net:
    external: true
