version: '3.8'

services:
  rclone:
    build:
      context: .
      dockerfile: Dockerfile.rclone
    container_name: rclone
    restart: unless-stopped
    depends_on:
      git-backup:
        condition: service_healthy
    environment:
      - RCLONE_CONFIG_GDRIVE_TYPE=${RCLONE_CONFIG_GDRIVE_TYPE}
      - RCLONE_CONFIG_GDRIVE_SCOPE=${RCLONE_CONFIG_GDRIVE_SCOPE}
      - RCLONE_CONFIG_GDRIVE_TOKEN=${RCLONE_CONFIG_GDRIVE_TOKEN}
      - GDRIVE_VAULT_PATH=${GDRIVE_VAULT_PATH}
    volumes:
      - ${OBSIDIAN_VAULT_PATH}/second-brain:/data
      - ${RCLONE_CACHE_PATH}:/root/.cache/rclone
    entrypoint: /bin/sh
    command: /entrypoint.sh
    networks:
      - aether-net

  git-backup:
    build:
      context: .
      dockerfile: Dockerfile.git
    container_name: git_backup
    restart: unless-stopped
    working_dir: /git
    healthcheck:
      test: ["CMD", "test", "-f", ".git_ready"]
      interval: 10s
      timeout: 5s
      retries: 5
    entrypoint: /bin/sh
    command: -c '
        git config --global --add safe.directory /git;
        echo "Starting backup script...";
        /usr/local/bin/git-backup.sh;
      '
    environment:
      - GIT_REPO_URL=${GIT_REPO_URL}
      - GIT_USER_EMAIL=${GIT_USER_EMAIL}
      - GIT_USER_NAME=${GIT_USER_NAME}
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/git
      - ${HOST_SSH_PATH}:/mnt/ssh_keys:ro

networks:
  aether-net:
    external: true
