name: Deploy Atlas Infra

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        env:
          RCLONE_CONFIG_GDRIVE_TYPE: ${{ vars.RCLONE_CONFIG_GDRIVE_TYPE }}
          RCLONE_CONFIG_GDRIVE_SCOPE: ${{ vars.RCLONE_CONFIG_GDRIVE_SCOPE }}
          RCLONE_CONFIG_GDRIVE_TOKEN: ${{ secrets.RCLONE_CONFIG_GDRIVE_TOKEN }}
          OBSIDIAN_VAULT_PATH: ${{ vars.OBSIDIAN_VAULT_PATH }}
          RCLONE_CACHE_PATH: ${{ vars.RCLONE_CACHE_PATH }}
          GIT_REPO_URL: ${{ vars.GIT_REPO_URL }}
          GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_USER_NAME: ${{ vars.GIT_USER_NAME }}
          GDRIVE_VAULT_PATH: ${{ vars.GDRIVE_VAULT_PATH }}
          HOST_SSH_PATH: ${{ vars.HOST_SSH_PATH }}
          ENV: ${{ vars.ENV }}
        run: |
          echo "RCLONE_CONFIG_GDRIVE_TYPE=${RCLONE_CONFIG_GDRIVE_TYPE}" >> .env
          echo "RCLONE_CONFIG_GDRIVE_SCOPE=${RCLONE_CONFIG_GDRIVE_SCOPE}" >> .env
          echo "RCLONE_CONFIG_GDRIVE_TOKEN=${RCLONE_CONFIG_GDRIVE_TOKEN}" >> .env
          echo "OBSIDIAN_VAULT_PATH=${OBSIDIAN_VAULT_PATH}" >> .env
          echo "RCLONE_CACHE_PATH=${RCLONE_CACHE_PATH}" >> .env
          echo "GIT_REPO_URL=${GIT_REPO_URL}" >> .env
          echo "GIT_USER_EMAIL=${GIT_USER_EMAIL}" >> .env
          echo "GIT_USER_NAME=${GIT_USER_NAME}" >> .env
          echo "GDRIVE_VAULT_PATH=${GDRIVE_VAULT_PATH}" >> .env
          echo "HOST_SSH_PATH=${HOST_SSH_PATH}" >> .env
          echo "ENV=${ENV}" >> .env

      - name: Deploy with Docker Compose
        run: |
          chmod +x script.sh
          ./script.sh
