name: Deploy Atlas Infra

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        env:
          RCLONE_CONFIG_GDRIVE_TYPE: ${{ vars.RCLONE_CONFIG_GDRIVE_TYPE }}
          RCLONE_CONFIG_GDRIVE_SCOPE: ${{ vars.RCLONE_CONFIG_GDRIVE_SCOPE }}
          RCLONE_CONFIG_GDRIVE_TOKEN: ${{ secrets.RCLONE_CONFIG_GDRIVE_TOKEN }}
          OBSIDIAN_VAULT_PATH: ${{ vars.OBSIDIAN_VAULT_PATH }}
          RCLONE_CACHE_PATH: ${{ vars.RCLONE_CACHE_PATH }}
          GIT_REPO_URL: ${{ vars.GIT_REPO_URL }}
          GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_USER_NAME: ${{ vars.GIT_USER_NAME }}
          GDRIVE_VAULT_PATH: ${{ vars.GDRIVE_VAULT_PATH }}
          HOST_SSH_PATH: ${{ vars.HOST_SSH_PATH }}
        run: |
          docker compose up -d --build --remove-orphans
