name: Deploy Atlas Infra

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, gaia]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: registry.tienzo.net
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_RAW_PASSWORD }}

      - name: Setup Secrets
        env:
          SSH_KEY: ${{ secrets.VAULT_BACKUP_SSH_KEY }}
          RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
        run: |
          chmod +x scripts/ensure_secret.sh
          echo "CHARON_SSH_KEY_NAME=$(echo "$SSH_KEY" | ./scripts/ensure_secret.sh charon_ssh_key)" >> $GITHUB_ENV
          echo "CHARON_RCLONE_CONFIG_NAME=$(echo "$RCLONE_CONFIG" | ./scripts/ensure_secret.sh charon_rclone_config)" >> $GITHUB_ENV

      - name: Deploy Stack
        env:
          # Infrastructure Vars
          OBSIDIAN_VAULT_PATH: ${{ vars.OBSIDIAN_VAULT_PATH }}
          RCLONE_CACHE_PATH: ${{ vars.RCLONE_CACHE_PATH }}
          GDRIVE_VAULT_PATH: ${{ vars.GDRIVE_VAULT_PATH }}
          GDRIVE_BACKUP_PATH: ${{ vars.GDRIVE_BACKUP_PATH }}
          # Git Config
          GIT_REPO_URL: ${{ vars.GIT_REPO_URL }}
          GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_USER_NAME: ${{ vars.GIT_USER_NAME }}
          ENV: ${{ vars.ENV }}
          REGISTRY_PREFIX: ${{ vars.REGISTRY_PREFIX }}
        run: |
          chmod +x scripts/deploy.sh
          ./scripts/deploy.sh "charon" docker-compose.yml
